<br>
<div class="container banner contact" ng-repeat="info in uc.user">
    <ul style="list-style: none">
    <li>I'm currently based out of {{info.location}}.</li>
    <li><a href="tel:1-917-494-3382"><i class="fa fa-phone"></i> 917-494-3382</a></li>
    <li><a href="mailto:kittywalders@gmail.com"><i class="fa fa-envelope"></i> kittywalders@gmail.com</a></li>
    <li><a href="https://angularjs.org/" target="_blank">AngularJS</a> | <a href="https://jquery.com/" target="_blank">jQuery</a> | <a href="https://www.mongodb.com/" target="_blank">MongoDB</a> | <a href="https://www.postgresql.org/" target="_blank">pSQL</a> | <a href="https://nodejs.org/en/" target="_blank">Node.js</a> | <a href="https://expressjs.com/" target="_blank">Express</a></li>
    </ul>
</div>