<br>
<div ng-repeat="info in uc.user" class="banner d-lg-flex align-items-center">
    <img class ="image img-responsive" ng-src="{{info.avatar_url}}" alt="Kitty Walders">
    <div class="textfield">
        <h1>Kitty (Ng) Walders</h1>
        <p>{{info.bio}}</p>
        <p>Outside of coding, I love to play board games, go hiking/ camping, and spend time with my husband and friends.</p>
        <p><a href="https://www.gallupstrengthscenter.com/" target="_blank"><u>Clifton Strengths Finder</u></a>: 
            <br>
            Relator | Analytical | Command | Individualization | Achiever</p>
    </div>
</div>
